.rate-section__header {
    text-align: center;
}

.rate-section__title {
    font-size: 48px;
    line-height: 120%;
    font-weight: 600;
    color: var(--color-black);
}

.rate-section__description {
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;   
    color: var(--color-gray-blue-50);
    margin-bottom: 40px;
}

.cards_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(328px, 369px));
    grid-template-rows: repeat(auto-fit, minmax(436px, 507px));
    gap: 24px;
    max-width: 1156px;
    margin: 0 auto;
    
}

.card__duration {
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
    margin: 0;
}

.card__subtitle {
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
    color: var(--color-gray-blue-50);
    padding-bottom: 20px;
}


